<div class="row m-t-1">
  <div class="col-md-7 offset-md-2">
  <h3>{{d.ds.name}}</h3>
  <p class="small">
  filename: <a href="http://data.autoscience.io/{{d.ds.id}}">{{d.ds.file.name}}</a><br/>
  filepath: {{d.ds.file.path}} | size: {{d.ds.file.size}} | encoding: {{d.ds.file.encoding.encoding}}, confidence: {{d.ds.file.encoding.confidence}}
  </p>
  </div>
  <div class="col-md-3">
    <p class="small">
    kernel status:     <span class="tag tag-success">running</span> <br/>
    <a href="http://autoscience.io/1/kernel">http://autoscience.io/1/kernel</a><br/>
    started on: 2016-08-28T20:57:31+00:00<br/>
    memory:     6.2 GB | CPU: 2 v-cores
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-9 offset-md-2">
  <p class="small">{{d.ds.rows}} obs. of  {{d.ds.cols}} variables <br/>
    NA rows:{{d.ds.na.rows}}, columns:{{d.ds.na.cols}}</p>
  </div>
</div>

<div class="row">
 <div class="col-md-10 offset-md-2">
    <table class="table table-sm">
      <thead>
        <tr>
          <th>variable</th>
          <th >samples</th>
          <th >type</th>
          <th >unique</th>
          <th >na</th>
          <th >valid</th>
        </tr>
      </thead>
      <tr ng-repeat="v in d.vars">
        <td><a href="#/ds/{{d.ds.id}}/variables/{{v.id}}">{{v.name}}</a></td>
        <td class="small">{{ v.sample.toString() }}</td>
        <td>{{v.type.tcoerce}}</td>
        <td>{{v.type.unique}}</td>
        <td>{{v.type.nan}}</td>
        <td>{{v.type.valid}}</td>
      </tr>
    </table>
</div>
