<div class="row m-t-1">
  <div class="col-md-7 offset-md-2">
  <h3>Titanic</h3>
  <p>Columns descriptive stastistics </p>
  </div>
  <div class="col-md-3">
    <p class="small">
    kernel status:     <span class="tag tag-success">running</span> <br/>
    <a href="http://autoscience.io/1/kernel">http://autoscience.io/1/kernel</a><br/>
    started on: 2016-08-28T20:57:31+00:00<br/>
    memory:     6.2 GB | CPU: 2 v-cores
    </p>
  </div>        
</div>

<div class="row">
  <div class="col-md-6 offset-md-2">

  <div class="row">
  <div class="col-md-12">
  <h4>Age</h4>
  <p class="small">22 38 26 35 35 NA 54 2 27 14 4 58 20 39 14 55 2 NA 31 NA 35 34 15 28 8 38 NA 19 NA NA 40 NA NA 66 28 42 NA 21 18 14 40 27 NA 3 19 NA NA NA NA 18 7 21 49 29 65 NA 21 28.5 ...</p>
  </div>    

  <div class="col-md-12">
    <h6>Type extraction</h6>
    <table class="table table-sm"> 
       
       <thead><tr>
        <th>name</th>
        <th>int</th>
        <th>num</th>
        <th>str</th>
        <th>na</th>
       </tr></thead>

       <tr> 
         <td>Age</td>
         <td>22</td>
         <td>657</td>
         <td>7</td>
         <td>186</td>
       </tr>
    </table>
    <p> Coercing type to <b>num</b>. Treating strings as na. </p>
  </div>

  <div class="col-md-12">
    <h6>Descriptive statistics</h6>
    <table class="table table-sm"> 
       
       <thead><tr>
        <th>name</th>
        <th>min</th>
        <th>max</th>
        <th>range</th>
        <th>median</th>
        <th>mean</th>
        <th>sd</th>
       </tr></thead>

       <tr> 
         <td>Age</td>
         <td>0.42</td>
         <td>80</td>
         <td>79.58</td>
         <td>28</td>
         <td>29.69</td>
         <td>14.76</td>
       </tr>
    </table>
  </div>
  </div>
  </div>

  <div class="col-md-4">
    <img src="/data/plot/screenshot-localhost 8888 2016-08-28 23-44-45.png" class="img-fluid" />
  </div>
</div>
